<!DOCTYPE html>
<html>


<title>Data Collector App</title>

<head>
    <link href="../static/main.css" , rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Collecting Heights</h1>
        <h3>Please fill tne entries to get the population statistics on the height</h3>
        <div class="message">
            {{text|safe}}
        </div>
        <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <br>
            <button type="submit ">Submit</button>
        </form>
        {% include [btn] ignore missing %}
    </div>
</body>

</html>